
name: Lint

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]
  workflow_dispatch:

permissions:  # set top-level default permissions as security best practice
  contents: read

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}-${{ github.event_name == 'workflow_dispatch' }}
  cancel-in-progress: true

jobs:
  optional-lint:
    name: Optional Lint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4.2.2 # v4.2.2
      - name: misspell # Check spellings as well
        uses: reviewdog/action-misspell@v1.23.0 # v1.23.0
        with:
          github_token: ${{ secrets.github_token }}
          locale: "US"
          reporter: github-pr-check
          level: info
          filter_mode: diff_context
          exclude: |
            ./docs/hpcdoc/source/_static/*
      - name: shellcheck # Static check shell scripts
        uses: reviewdog/action-shellcheck@v1.27.0 # v1.27.0
        with:
          github_token: ${{ secrets.github_token }}
          reporter: github-pr-check
          level: info
          filter_mode: diff_context
      - name: cpplint # Static check C++ code
        uses: reviewdog/action-cpplint@v1.8.0 # v1.8.0
        with:
          github_token: ${{ secrets.github_token }}
          reporter: github-pr-check
          level: warning
          flags: --linelength=120
          filter: "-runtime/references,\
                  -build/include,\
                  -build/namespaces,\
                  -build/header_guard,\
                  -whitespace/line_length,\
                  -whitespace/indent_namespace,\
                  -runtime/string"  # Ignore runtime checks on string usage.
